<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="ipm-module-budget.ZPM">
    <Module>
      <Name>ipm-module-budget</Name>
      <Version>0.0.6</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.iris.PKG"/>

    </Module>
  </Document>
</Export>
